.fade_in_up {
    animation: fade_in_up 1.25s;
}

@keyframes fade_in_up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fade_in {
    animation: fade_in 1.5s;
}
.fade_in_2s {
    animation: fade_in 2s;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 1s ease-in-out;
}