body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
    color: #000;
    font-size: 16px;
    word-spacing: 3px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.color_secondary {
    color: #3b3b3b
}

.bg_primary_blur {
    background: rgba(255, 255, 255, 0.8);
}

.bg_secondary {
    background: #FFD34C;
}

.f_w_600 {
    font-weight: 600;
}

.pos_sticky {
    top: 0;
    position: sticky;
    z-index: 99;
}

.mx_w_1144 {
    max-width: 1144px;
}

.m_0_a {
    margin: 0 auto;
}

.ml_4 {
    margin-left: 4px;
}
.ml_8 {
    margin-left: 8px;
}
.ml_12 {
    margin-left: 12px;
}
.ml_16 {
    margin-left: 16px;
}
.ml_20 {
    margin-left: 20px;
}
.ml_24 {
    margin-left: 24px;
}
.ml_28 {
    margin-left: 28px;
}
.ml_32 {
    margin-left: 32px;
}

.mr_4 {
    margin-right: 4px;
}
.mr_8 {
    margin-right: 8px;
}
.mr_12 {
    margin-right: 12px;
}
.mr_16 {
    margin-right: 16px;
}
.mr_20 {
    margin-right: 20px;
}
.mr_24 {
    margin-right: 24px;
}
.mr_28 {
    margin-right: 28px;
}
.mr_32 {
    margin-right: 32px;
}

.mb_4 {
    margin-bottom: 4px;
}
.mb_8 {
    margin-bottom: 8px;
}
.mb_12 {
    margin-bottom: 12px;
}
.mb_16 {
    margin-bottom: 16px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_24 {
    margin-bottom: 24px;
}
.mb_28 {
    margin-bottom: 28px;
}
.mb_32 {
    margin-bottom: 32px;
}
.mb_64 {
    margin-bottom: 64px;
}
.mb_128 {
    margin-bottom: 128px;
}

.mt_4 {
    margin-top: 4px;
}
.mt_8 {
    margin-top: 8px;
}
.mt_12 {
    margin-top: 12px;
}
.mt_16 {
    margin-top: 16px;
}
.mt_20 {
    margin-top: 20px;
}
.mt_24 {
    margin-top: 24px;
}
.mt_28 {
    margin-top: 28px;
}
.mt_32 {
    margin-top: 32px;
}
.mt_140 {
    margin-top: 140px;
}

.p_4 {
    padding: 4px;
}
.p_8 {
    padding: 8px;
}
.p_16 {
    padding: 16px;
}

.p_16_0 {
    padding: 16px 0;
}

.hover_br_b:hover {
    border-bottom: 2px solid #000;
}

.nav_i {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
}

.nav_i__active {
    border-bottom: 2px solid #000;
}

.w_100 {
    width: 100%;
}
.w_90 {
    width: 90%;
}
.w_80 {
    width: 80%;
}
.w_70 {
    width: 70%;
}
.w_60 {
    width: 60%;
}
.w_55 {
    width: 55%;
}
.w_50 {
    width: 50%;
}
.w_45 {
    width: 45%;
}
.w_40 {
    width: 40%;
}
.w_30 {
    width: 30%;
}
.w_20 {
    width: 20%;
}
.w_10 {
    width: 10%;
}











.d_flex {
    display: flex;
}

.align_c {
    align-items: center;
}

.align_s {
    align-items: flex-start;
}

.justify_sb {
    justify-content: space-between;
}